<div class="container" id="about">
		<h1> About Us </h2>
		<div class="panel panel-primary">
		  <div class="panel-heading">What We Do</div>
		  <div class="panel-body">
		    		<p>
							Muddy Paw Labs is a user-centric innovation lab utilizing the Lean Methodology to ideate, experiment, and prototype technology-driven solutions that address problems faced by consumers and enterprises ahead of their development and commercialization.We're big fans of <a href="https://assembly.com" target="_blank">Assembly</a> and leverage the community's technical and business talent when we're able.
						</p>
		  </div>
		</div>

		<div class="panel panel-primary">
		  <div class="panel-heading">Our Philosophy</div>
		  <div class="panel-body">
		    		<p>
							The best products address problems that frame the user’s needs and goals at the intersection of design, development, and business.
						</p>
						<img src="#" alt="Design, Development and Business">
						<p>
							We believe that the the best businesses are the derivative of passionate and committed teams and thoughtful products.
						</p>
		  </div>
		</div>
		  <div class="panel panel-info">
		  	<div class="panel-heading">Motivation</div>
			  <div class="panel-body">
					<p>
						Santosh Sankar left Wall Street after five years to pursue his true calling -- building technology-driven products and businesses. He is a proud Penn Stater and an alumni of General Assembly's Product Management course. Find him on <a href="http:/www.twitter.com/santoshsankar">Twitter</a> or <a href="http://www.santoshsankar.com">sharing</a> dynamic thoughts for our dynamic world	
					</p>
			  </div>
			</div>
</div>