<div class="container">
	<div class="jumbotron">
				<div class ="text-center">
					
					<img src ="assets/logoLarge.png" alt="Muddy Paw Labs" id ="MPLLogo">
					<!--<h2><strong>A User-centric Innovation Lab</strong></h2>
					<h3>Rapid ideation, experimentation, prototyping, and business model discovery to maximize long-term business value</h3>-->
					<br>
					<!--<%= link_to "See What's Being Worked On", "portfolio_path", class: "btn btn-primary" %> -->
					<!-- <%= link_to "Work On An Idea", "#", class: "btn btn-default" %> -->
				</div>	
	</div>
</div>

<!--<div id ="detail">
	<div class="text-center">
		<h2><strong>Great Products Make Great Businesses</strong></h2>
		<h3>Building products and businesses is a multidisciplinary effort.</h3>
	</div>
	<div class="row">
		<div class="col-md-4">
			#
		</div>
		<div class="col-md-4">
			#
		</div>

		<div class="col-md-4">
			#
		</div>
	</div> -->
</div>

